<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 mt-5 mb-5">

    <div class="card background-black shadow-sm p-4">

      <h5 class="fw-bold text-center text-green mb-4">
        Book gym class
      </h5>

      <form [formGroup]="gymClassForm" (ngSubmit)="submit()">

        <div class="mb-3">
          <label class="form-label text-white-bg">Gym class</label>
          <select formControlName="gymClassId" (change)="gymClassChange($event)"
                  class="form-select background-white">
            <option value="">Select class</option>
            @for(gymClass of gymClasses(); track gymClass.name){
              <option value="{{ gymClass.gymClassId }}">
                {{ gymClass.name }}
              </option>
            }
          </select>
        </div>

        <div class="mb-4">
          <label class="form-label text-white-bg">Select date</label>
          <select formControlName="scheduledClassId"
                  class="form-select background-white">
            @for(scheduledClass of scheduledClasses(); track scheduledClass.scheduledClassDetails){
              <option value="{{ scheduledClass.scheduledClassId }}">
                {{ scheduledClass.scheduledClassDetails }}
              </option>
            }
          </select>
        </div>

        <button class="btn button-green w-100 fw-bold">
          Book class
        </button>

      </form>

    </div>

  </div>
</div>
