<div class="background-white p-4" style="max-width: 420px; margin: 0 auto;">
  <h3 class="text-black mb-4">Add time off</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label class="text-black">Reason</label>
      <input class="form-control" formControlName="reason" />

      @if (form.get('reason')?.touched && form.get('reason')?.hasError('required')) {
        <small class="text-danger">
          Reason is required
        </small>
      }
    </div>

    <div class="mb-3">
      <label class="text-black">Date</label>
      <input type="date" class="form-control" formControlName="date" />

      @if (form.get('date')?.touched && form.get('date')?.hasError('required')) {
        <small class="text-danger">
          Date is required
        </small>
      }
    </div>

    <div class="mb-3">
      <label class="text-black">Start time</label>
      <select class="form-select" formControlName="startTime">
        <option value="">Select time</option>
        @for (slot of timeSlots; track slot) {
          <option value="{{slot}}">{{slot}}</option>
        }
      </select>

      @if (form.get('startTime')?.touched && form.get('startTime')?.hasError('required')) {
        <small class="text-danger">
          Start time is required
        </small>
      }
    </div>

    <div class="mb-3">
      <label class="text-black">End time</label>
      <select class="form-select" formControlName="endTime">
        <option value="">Select time</option>
        @for (slot of timeSlots; track slot) {
          <option value="{{slot}}">{{slot}}</option>
        }
      </select>

      @if (form.get('endTime')?.touched && form.get('endTime')?.hasError('required')) {
        <small class="text-danger">
          End time is required
        </small>
      }
    </div>

    @if (form.errors?.['endBeforeStart']) {
      <div class="text-danger mb-3">
        End must be after start time
      </div>
    }

    @if (backendErrors.length > 0) {
      <div class="alert alert-danger mt-3">
        <ul class="mb-0">
          @for (err of backendErrors; track err) {
            <li>{{ err }}</li>
          }
        </ul>
      </div>
    }

    <div class="d-grid gap-2">
      <button
        type="submit"
        class="btn button-green fw-bold"
        [disabled]="isSubmitting">
        {{ isSubmitting ? 'Saving...' : 'Save' }}
      </button>

      <button type="button" class="btn button-light-gray" routerLink="/trainer">
        Back
      </button>
    </div>

    @if (success) {
      <div class="mt-3 text-green">
        Time off added successfully
      </div>
    }

  </form>
</div>
