<div class="banner mb-5">
  <img src="banner-client.jpg" alt="Client zone" class="w-100">
</div>

<div class="container my-5">
  <div class="row g-4">

    <div class="col-lg-4">
      <div class="card background-black shadow-sm p-4 h-100">

        <h5 class="fw-bold mb-3 text-center text-green">
          {{ clientResponse()?.firstName }} {{ clientResponse()?.lastName }}
        </h5>

        <p class="mb-1 text-white-bg">
          <strong class="text-green">Email:</strong> {{ clientResponse()?.email }}
        </p>

        <p class="mb-3 text-white-bg">
          <strong class="text-green">Phone number:</strong> {{ clientResponse()?.phoneNumber }}
        </p>

        @if (clientResponse()?.membershipName == null) {

          <p class="mb-3 text-white-bg">
            <strong class="text-green">Membership:</strong> No membership
          </p>

          <button class="btn button-green w-100 mb-3 fw-bold" routerLink="/memberships">
            Buy membership online
          </button>

        } @else {

          <p class="mb-3 text-white-bg">
            <strong class="text-green">Membership:</strong> {{ clientResponse()?.membershipName }}
          </p>

        }

        <hr class="text-white-bg my-3">

        <button
          class="btn button-green w-100 fw-bold"
          routerLink="/change-password">
          Change password
        </button>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card background-black shadow-sm p-4 h-100">

        <ul class="nav nav-tabs mb-4 justify-content-center">
          <li class="nav-item">
            <a
              (click)="activeTab='membership'"
              class="nav-link text-green"
              [class.active]="activeTab === 'membership'">
              My membership
            </a>
          </li>

          <li class="nav-item">
            <a
              (click)="activeTab='reservations'"
              class="nav-link text-green" 
              [class.active]="activeTab === 'reservations'">
              Classes reservations
             
            </a>
          </li>

          <li class="nav-item">
            <a
              (click)="activeTab='personalTrainings'"
              class="nav-link text-green"
              [class.active]="activeTab === 'personalTrainings'">
               My personal trainings
            </a>
          </li>
        </ul>

        @if (activeTab === 'membership') {
          <app-client-membership />
        }

        @if (activeTab === 'reservations') {
          <app-client-reservation />
        }

        @if (activeTab === 'personalTrainings') {
          <app-client-personal-training />
        }

      </div>
    </div>

  </div>
</div>
