:root {
  --light-gray: #8f8f8f;
  --green: #9aad00;
  --black: #393A42;
  --white: #ffffff;
}

.background-light-gray {
  background-color: var(--light-gray);
}

.background-white {
  background-color: var(--white);
}

.background-black {
  background-color: var(--black);
}

.background.green {
  background-color: var(--green);
}

.text-green {
  color: var(--green);
}

.text-black {
  color: var(--black);
}
.text-white-bg {
  color: var(--white);
}

.hover-green:hover {
  color: var(--green) !important; 
}
.text-light-gray {
  color: var(--light-gray);
}

.button-green {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-green:hover {
  color: var(--black); 
  background-color: var(--green);
}

.button-light-gray {
  background-color: var(--light-gray);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-light-gray:hover {
  background-color: #7a7a7a; /* ciemniejszy odcień szarości na hover */
}