<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">

        <div class="background-black p-4 rounded shadow-sm">
          <h3 class="text-white text-center mb-3">Sign in</h3>
          <form [formGroup] = "loginForm" (ngSubmit) = "submit()">
           <div class="mb-3">
  <label class="form-label text-white-bg">Email</label>
  <input
    type="email"
    formControlName="email"
    class="form-control"
    autocomplete="email"
  />

  @if (loginForm.get('email')?.touched) {
    @if (loginForm.get('email')?.hasError('required')) {
      <div class="text-danger small">Email is required</div>
    }
    @else if (loginForm.get('email')?.hasError('email')) {
      <div class="text-danger small">Invalid email address</div>
    }
  }
</div>


           <div class="mb-3">
  <label class="form-label text-white-bg">Password</label>
  <input
    type="password"
    formControlName="password"
    class="form-control"
    autocomplete="current-password"
  />

  @if (loginForm.get('password')?.touched) {
    @if (loginForm.get('password')?.hasError('required')) {
      <div class="text-danger small">Password is required</div>
    }
  }
</div>

    <div class="text-start mb-3">
      <a
        routerLink="/forgot-password"
        class="text-light-gray small hover-green text-decoration-none">
        Forgot password? <span class="text-green">Reset</span>
      </a>
    </div>
            <button type="submit" class="button-green w-100 mb-3">
              Log in
            </button>
          </form>
          @if (backendErrors.length > 0) {
  <div class="alert alert-danger mt-3">
    <ul class="mb-0">
      @for (err of backendErrors; track err) {
        <li>{{ err }}</li>
      }
    </ul>
  </div>
}

          <div class="text-center">
            <span class="text-white">Don’t have an account?</span><br>
            <a routerLink="/register-client" class="text-green fw-bold text-decoration-none">
              Create account
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
