<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">

        <div class="background-black p-4 rounded shadow-sm">
          <h3 class="text-white text-center mb-3">Sign in</h3>
          <form [formGroup] = "loginForm" (ngSubmit) = "submit()">
            <div class="mb-3">
              <label class="form-label text-white">Email</label>
              <input formControlName="email" type="email" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label text-white">Password</label>
              <input formControlName="password" type="password" class="form-control" >
            </div>

            <button [disabled]="loginForm.invalid" type="submit" class="button-green w-100 mb-3">
              Log in
            </button>
          </form>

          <div class="text-center">
            <span class="text-white">Don’t have an account?</span><br>
            <a routerLink="/register-client" class="text-green fw-bold text-decoration-none">
              Create account
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
