<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <div class="card shadow-sm background-black p-4">

        <h3 class="text-center text-green mb-4">
          Change Password
        </h3>

        <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">

          <div class="mb-3">
  <label class="form-label text-white-bg">Current Password</label>
  <input
    type="password"
    formControlName="oldPassword"
    class="form-control"
    autocomplete="current-password"
  />

  @if (changePasswordForm.get('oldPassword')?.touched) {
    @if (changePasswordForm.get('oldPassword')?.hasError('required')) {
      <div class="text-danger small">
        Current password is required
      </div>
    }
  }
</div>


          <div class="mb-3">
  <label class="form-label text-white-bg">New Password</label>
  <input
    type="password"
    formControlName="newPassword"
    class="form-control"
    autocomplete="new-password"
  />

  @if (changePasswordForm.get('newPassword')?.touched) {
    @if (changePasswordForm.get('newPassword')?.hasError('required')) {
      <div class="text-danger small">
        New password is required
      </div>
    }
  }
</div>

         <div class="mb-4">
  <label class="form-label text-white-bg">Confirm New Password</label>
  <input
    type="password"
    formControlName="confirmPassword"
    class="form-control"
    autocomplete="new-password"
  />

  @if (changePasswordForm.get('confirmPassword')?.touched) {

    @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
      <div class="text-danger small">
        Please confirm your new password
      </div>
    }

    @else if (
      changePasswordForm.hasError('passwordMismatch') &&
      changePasswordForm.get('newPassword')?.touched
    ) {
      <div class="text-danger small">
        Passwords do not match
      </div>
    }

  }
</div>


          <div class="d-grid gap-2">
           @if (backendErrors.length > 0) {
  <div class="alert alert-danger mt-3">
    <ul class="mb-0">
      @for (err of backendErrors; track err) {
        <li>{{ err }}</li>
      }
    </ul>
  </div>
}
            <button type="submit" class="btn button-green fw-bold">
              Change Password
            </button>

            <button type="button" class="btn button-light-gray" routerLink="/client-main-page">
              Back
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
