<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 mt-5 mb-5">

    <div class="card background-black shadow-sm p-4">

      <h5 class="fw-bold text-center text-green mb-4">
        Book personal training
      </h5>

      <form [formGroup]="personalBookingForm" (ngSubmit)="submit()">

        <div class="mb-3">
          <label class="form-label text-white-bg">Date</label>
          <input formControlName="startDate" type="date" class="form-control background-white"  >
        </div>

        <div class="mb-3">
          <label class="form-label text-white-bg">Start time</label>
          <select formControlName="startHour" class="form-select background-white">
            <option>Select time</option >
            @for(hour of timeSlots; track hour) 
            {
              <option value="{{hour}}">{{hour}}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label text-white-bg">Personal trainer</label>
          <select formControlName="trainerId" class="form-select background-white" (change)="loadTrainerRates($event)">
            @for(trainer of trainerInfoResponse(); track trainer.id) 
            {
              <option value="{{trainer.id}}">{{trainer.fullName}}</option>
            }
          </select>
        </div>

        <div class="mb-4">
          <label class="form-label text-white-bg">Training duration</label>
          <select formControlName="trainerRateId" class="form-select background-white">
            @for(trainerRate of trainerRateSelect(); track trainerRate.trainerRateId) 
            {
              <option value="{{trainerRate.trainerRateId}}">{{trainerRate.displayPriceDuration}}</option>
            }
          </select>
        </div>

        <button class="btn button-green w-100 fw-bold">
          Save
        </button>

      </form>

    </div>

  </div>
</div>
